{%- if request.design_mode -%}
  <div id="TrialOverPopup" class="toast">
    <div class="card overlay-content">
          <div class="card-header">
          <div class="flex-grid">
                <div class="flex-item">
                  <h6 class="spacer-bottom-none">
                    Kruger Vert by SEAGGS // {{ shop.name }}
                  </h6>
                </div>
                <div class="flex-item flex-center">
                  <div class="blink-active activity">
                    <h6 class="active-text">CHECKING ACTIVATION...</h6>
                  </div>
                </div>
          </div>
    </div>
    </div>
  </div>
{%- endif -%}